streamlit
pydantic
langchain
langchain-community
unstructured
unstructured-inference
pdf2image
pytesseract
pandas
chromadb
sentence-transformers
python-docx
pymupdf4llm
llama-cpp-python
lxml
python-pptx
pdfminer.six
pillow