chroma-hnswlib==0.7.6
chromadb==1.0.6
fastapi==0.115.9
huggingface-hub==0.30.2
langchain==0.3.24
langchain-community==0.3.22
langchain-core==0.3.55
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langdetect==1.0.9
langsmith==0.3.33
llama_cpp_python==0.3.8
numpy
opencv-python==4.11.0.86
orjson==3.10.16
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pillow==11.2.1
posthog==3.25.0
propcache==0.3.1
protobuf==5.29.4
psutil==7.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
pydeck==0.9.1
Pygments==2.19.1
PyMuPDF==1.25.5
pymupdf4llm==0.0.21
pyparsing==3.2.3
pypdf==5.4.0
pypdfium2==4.30.1
PyPika==0.48.9
pytesseract==0.3.13
python-docx
python-pptx
sentence-transformers
streamlit
torch
